{% block header %}
	<header class="section is-header header">
		<div class="container">
			<div class="header-inner">
				{% if identifier == 'home' %}
					{% include 'partial/branding-home.twig' %}
				{% else %}
					{% include 'partial/branding.twig' %}
				{% endif %}
				{% include 'partial/menu-primary.twig' %}
			</div>
		</div>
	</header>
{% endblock %}
