// Setting section gutters.
@each $device, $gutter-width in $section-gutters {
	.section {
		.container {
			@if $device == mobile {
				padding-right: $gutter-width;
				padding-left: $gutter-width;
			} @else {
				@include mq($from: map-get($mq-breakpoints, $device)) {
					max-width: map-get($section-widths, $device) + $gutter-width * 2;
					margin: 0 auto;
					padding-right: $gutter-width;
					padding-left: $gutter-width;
				}
			}
		}
	}
}

.section {
	&.is-header {
		padding: 32px;
	}
	&.is-footer {
		padding: 32px;
	}
}
