.toggle {
	display: none;
	@include mq($until: map-get($mq-breakpoints, tablet)) {
		z-index: 9999;
		display: block;
	}
}

.hamburger {
	position: relative;
	display: block;
	width: 50px;
	height: 43px;
	cursor: pointer;

	span {
		position: absolute;
		left: 10px;
		display: block;
		width: 32px;
		height: 2px;
		background-color: #212121;
		transition: all 0.2s ease-out;

		&:nth-of-type(1) {
			top: 10px;
		}

		&:nth-of-type(2) {
			top: 20px;
		}

		&:nth-of-type(3) {
			top: 30px;
		}
	}

	&.is-active {
		span {
			background-color: #fff;

			&:nth-of-type(1),
			&:nth-of-type(3) {
				width: 29px;
			}

			&:nth-of-type(1) {
				transform: rotate(45deg);
				transform-origin: left top;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				left: 9px;
				transform: rotate(-45deg);
				transform-origin: left top;
			}
		}
	}
}
