@use "sass:map";
@use "sass:color";

// Fonts
$base-font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic",
	"メイリオ", sans-serif;
$base-line-height: 1.75;

// Colors
$primary: #102641;
$secondary: #4ecac2;
$danger: #ca4e87;

$theme-colors: ();

$theme-colors: map.merge(
	(
		"primary": $primary,
		"secondary": $secondary,
		"danger": $danger,
	),
	$theme-colors
);

// Links
$link-color: color.scale($secondary, $lightness: -10%);

// Media Queries
// Using Media Query Library "sass-mq".
// https://github.com/sass-mq/sass-mq

$mq-breakpoints: (
	mobile: 500px,
	tablet: 800px,
	desktop: 1000px,
	wide: 1300px,
);

// Section widths
$section-width: 700px;
$section-width-tablet: 1000px;
$section-width-desktop: 1200px;

$section-widths: (
	mobile: $section-width,
	tablet: $section-width-tablet,
	desktop: $section-width-desktop,
);

// Section Gutters
$section-gutter-mobile: 24px;
$section-gutter-tablet: 40px;
$section-gutter-desktop: 16px;

$section-gutters: (
	mobile: $section-gutter-mobile,
	tablet: $section-gutter-tablet,
	desktop: $section-gutter-desktop,
);
