// Fonts
$base-font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic",
	"メイリオ", sans-serif;
$heading-font-family: "Barlow", sans-serif;
$base-line-height: 1.75;

// Colors
$black: #3c3c3c !default;
$gray: #f4f6f8 !default;
$white: #fff !default;
$red: #ca4e87 !default;
$indigo: #102641 !default;
$emerald: #4ecac2 !default;

$primary: $indigo !default;
$secondary: $emerald !default;
$danger: $red !default;

$theme-colors: () !default;

$theme-colors: map-merge(
	(
		"primary": $primary,
		"secondary": $secondary,
		"danger": $danger,
	),
	$theme-colors
);

// Links
$link-color: darken($secondary, 10%);

// Media Queries
// Using Media Query Library "sass-mq".
// https://github.com/sass-mq/sass-mq

$mq-breakpoints: (
	mobile: 500px,
	tablet: 800px,
	desktop: 1000px,
	wide: 1040px,
	extra: 1350px,
);

// Containers
$section-width: 700px;
$section-width-tablet: 1000px;
$section-width-desktop: 1200px;

$section-widths: (
	mobile: $section-width,
	tablet: $section-width-tablet,
	desktop: $section-width-desktop,
);

// Gutters
$section-gutter-mobile: 24px;
$section-gutter-tablet: 40px;
$section-gutter-desktop: 16px;

$section-gutters: (
	mobile: $section-gutter-mobile,
	tablet: $section-gutter-tablet,
	desktop: $section-gutter-desktop,
);
